<a href="https://colab.research.google.com/github/19PA1A0501/VITBML-EDA1/blob/master/exam_06_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

qustion1:::     Bias is the simplifying assumptions made by the model to make the target function easier to approximate.


Variance is the amount that the estimate of the target function will change given different training data.


***Linear machine learning algorithms often have a high bias but a low variance.
***Nonlinear machine learning algorithms often have a low bias 


Examples of low-bias machine learning algorithms include: Decision Trees, k-Nearest Neighbors and Support Vector Machines.

Examples of high-bias machine learning algorithms include: Linear Regression, Linear Discriminant Analysis and Logistic Regression.

queation2::: train data--when we take a data set some of the data is divided randomly in to to catogiries the train data will be used to train the machine based on the values and all the innformation contained in the data set and will be asked to pridict the out come for a different data its like training the machine to learn about the dataset and pridict the out comes of another data 


test data:;;the second part which is  randomly divided is used to test the machine based on training given and accuracy is calculated

cross validation;;;Cross-validation is a technique that is used for the assessment of how the results of statistical analysis generalize to an independent data set.

question3

In [5]:
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
df=pd.read_csv("/content/students_placement_data.csv")
df

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [16]:
from sklearn.metrics import mean_squared_error
df.describe()

          Roll No  SSC Percentage  ...  B.Tech_percentage    Backlogs
count  117.000000      117.000000  ...         117.000000  117.000000
mean    59.000000       80.324359  ...          62.943419    4.111111
std     33.919021        8.879266  ...          12.064306    6.335148
min      1.000000       47.800000  ...          31.200000    0.000000
25%     30.000000       76.000000  ...          54.180000    0.000000
50%     59.000000       82.330000  ...          64.360000    0.000000
75%     88.000000       87.000000  ...          72.570000    7.000000
max    117.000000       93.660000  ...          88.100000   25.000000

[8 rows x 5 columns]

from the above obeservation it is clear that btech percentage is particularly  not related to any of the ssc or inter percentage

In [0]:
y_test=df["B.Tech_percentage	"]
df.describe()
rss=((y_test-ff)**2).sum()
mse=nd.mean((y_test-ff)**2)
print("Final rmse value is =",nd.sqrt(nd.mean((y_test-ff)**2)))

i dont know how to do operations using mean square error sir!!!!!